html,body {
  font-family: arial;
  font-size: 1.1em;
}


/*
.error{
  border-color: red;
}
*/ 

.input{
  background-color: white; 
  color: black ; 
  
}


background-color{
  color : red; 
  color : white
}


h1 {
  height: 207px;
  width: 857px;
  margin-bottom: 20px;
  text-align:center;
  vertical-align:middle;
  line-height:200px;
  background:transparent no-repeat scroll 50% 50%;
 }
.container {
  margin: auto;
  width: 800px;
}

.heading {
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em 0;
}

input,textarea {
  font-size: 1.1em;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: purple ;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: red; 
}



.offscreen {
  top: -1000px;
  font-size: 1px;
}

/*
.navigation a {
  outline: blue solid 2px;
}
*/

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

#message4{
  display: None;
}

.error {
  color: red;
}

#accessibilitybanner {
  width: 857px;
  height: 207px;
  background-image: url(pics/blackfontbanner.png);
}




